body{
background:#0f172a;
color:white;
font-family:Arial;
margin:0;
}

header{
display:flex;
justify-content:space-between;
padding:20px 8%;
background:#111827;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
}

.banner{
text-align:center;
padding:50px;
}

.battle{
display:flex;
justify-content:center;
align-items:center;
gap:50px;
padding:50px;
}

.fighter{
text-align:center;
}

.fighter img{
width:220px;
height:220px;
border-radius:50%;
object-fit:cover;
border:5px solid #22c55e;
}

.vs{
font-size:60px;
color:#22c55e;
}

.battle-cards{
display:flex;
justify-content:center;
gap:30px;
padding:40px;
flex-wrap:wrap;
}

.card{
background:#1e293b;
padding:25px;
width:300px;
border-radius:20px;
}