body{
background:#0f172a;
color:white;
font-family:Arial;
margin:0;
}

header{
display:flex;
justify-content:space-between;
padding:20px 8%;
background:#111827;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
}

.leaderboard{
text-align:center;
padding:60px;
}

.podium{
display:flex;
justify-content:center;
align-items:flex-end;
gap:30px;
margin-top:50px;
}

.first,.second,.third{
background:#1e293b;
padding:30px;
border-radius:20px;
width:200px;
}

.first{
height:250px;
}

.second{
height:200px;
}

.third{
height:170px;
}