body{
background:#0f172a;
color:white;
font-family:Arial;
margin:0;
}

header{
display:flex;
justify-content:space-between;
padding:20px 8%;
background:#111827;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
}

.profile{
padding:50px;
text-align:center;
}

.profile-card{
background:#1e293b;
width:350px;
margin:auto;
padding:30px;
border-radius:20px;
}

.profile-card img{
width:180px;
height:180px;
border-radius:50%;
object-fit:cover;
}

.transformation{
padding:60px;
text-align:center;
}

.gallery{
display:flex;
justify-content:center;
align-items:center;
gap:30px;
flex-wrap:wrap;
}

.photo img{
width:300px;
height:350px;
object-fit:cover;
border-radius:20px;
}

.arrow{
font-size:60px;
color:#22c55e;
}

.analytics{
display:flex;
justify-content:center;
gap:20px;
padding:50px;
flex-wrap:wrap;
}

.box{
width:220px;
background:#1e293b;
padding:25px;
border-radius:20px;
text-align:center;
}